@font-face {
    font-family: "odin";
    src:url("fonts/Norse-Bold-_1_.woff") format(woff);
    font-weight: normal;
    font-style: normal;
}



body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    appearance: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logocol {
    display: flex;
    flex-direction: row;
    width: 40vw;
    
}

.formcol {
    width: 60vw;
    background-color: whitesmoke;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.fernleaves {
    position: absolute;
    width: 60vw;
    z-index: -1;
    margin-left: -5vw;
    
}

.odinlogo,
.odinlogodiv{
    height: 15vh;
}

.odinlogodiv {
    display: flex;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    width: 40vw;
    flex-direction: row;
    top: 30vh;
    justify-content: center;
}

.odinlogodiv p {
    align-self: center;
    font-size: 700%;
    font-family: "odin";
}

.credit {
    align-self: flex-end;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    
}

.formrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 20px;
    align-items: flex-start;

}

.formlabel {
    display: flex;
    flex-direction: column;
}

.formrow input {
    font-size: 14px;
    padding: 7px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

.formrow label {
    font-size: 11px;
    letter-spacing: .05rem;
}

.formtotal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form {
    box-shadow: 0 2px 5px lightgray;
    background-color: white;
}

.formtop h3,
form,
.formbottom {
    margin: inherit;
    padding: 0 calc(10vw + 50px) 20px calc(1vw + 20px);
}

.logocol a:visited,
.logocol a:link {
    color: white;
}

.formcol a:visited,
.formcol a:link {
    color: #596D48;
    text-decoration: none;
}

.formlabel {
    padding-right: 50px;
}

button {
    background-color: #596D48;
    color: white;
    border-radius: 7px;
    height: 2.5rem;
    width: 11rem;
    border: none;
}

.formbottom {
    padding-top: 30px;
}

input:focus {
    border: 1px solid lightseagreen;
    box-shadow: 0 2px 5px lightgray;
}